flask
flask-mysqldb
flask-socketio
flask-restful
flask-wtf
Flask-SQLAlchemy
flask-jwt-extended
bcrypt
flask_mail
email_validator
bcrypt
flask_mail
requests
pandas
numpy
matplotlib
plotly
scikit-learn